<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/about.css">
    <title>About Me</title>
    
</head>

<body>
    <h1>About Me</h1>
    <hr>
    <br>
    <br>
    <br>

    <p><strong>Jon Palmer was raised in sunny Southern California</strong>, and has found himself feeling at home in
        Middle Tennessee since 2008. At the start of that year the family decided to make the cross country move to
        pursue a musical career for Jon. His drums sticks were put to the side after a few short years, he endured a
        suit and tie, and a long drives into Nashville. Jon worked years in route sales and delivery (Schwan’s and FedEx
        Ground), and after acquiring a position with the Supply Chain for LP Building Solutions.</p>
        <p>After working in Supply Chain for nearly four years, Jon was recruited by the marketing director to pursue the
        opportunity of becoming a Marketer.
        For two years, Jon found himself traveling the US, most often back to the west coast, in hopes of growing the
        company along with LP.</p>
        <br>
        <p>In the spring of 2019, a friend of Jon’s mentioned to him that she felt he belonged in the computer programing
        world. She joked that he reminded her of her musician friends who had once played on stages, and now found
        themselves behind computer screens. Jon was additionally encouraged in such by his wife, Cori, when he mentioned
        the possibility of returning to school to pursue Software Engineering. Merely weeks later as he was signing on
        for Vanderbilt’s Coding Bootcamp, and began typing away on his computers keyboard day in and day out.
        When Jon isn’t found behind a computer screen you will find him at a local body of water with a line and pole.
        Not far from him one, or all, of his three teenage boys will often be found beside him. Although he no longer
        finds himself behind the drum set often, he does continue to write and play music. It is more so now done with
        his boys, whom each hold the same talent.</p>
        <br>
        <p>Jon and Cori homeschool their boys, who are now a freshman (Elliott), junior (Benjamin), and a senior (Jayden)
        in high school. Homeschooling hadn’t been their plan, but after all three went off to elementary school they
        realized that family time was too scarce. By schooling at home they could travel in the off times, sit beside
        the ocean to discuss literary themes, and that pre- calculous is more interesting when done in your pajamas. In
        addition to homeschooling the boys, Cori works as a real estate agent and dabbles in creativity, along with
        being an incredible writer.</p>
        <br>
        <p>Jon is seen as loyal by those whom he comes in counter with, and hardworking by anyone who has worked beside
        him. He maintains relationships with friends, co-workers, managers from each part of life that he has walked in.
        After months of balancing his family, a full time commuter job, and full time school, he is looking forward to
        focussing on writing code, and finding a position within Web Development. He intends on providing that company
        with a strong work ethic, a willingness to learn new things, and mastering this new craft he has so much respect
        for.</p>


       
</body>

</html>